<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Mid Train Demo</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7af3c0">  <td>20/07/16 14:18:09</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TestBasePage.beforeTest()[pri:0, instance:com.traindemo.qa.testcases.PurchasePillowTestCases@145eaa29]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@741669172</td>   <td></td> </tr>
<tr bgcolor="7af3c0">  <td>20/07/16 14:18:09</td>   <td>156</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBasePage.setUp(java.lang.reflect.Method)[pri:0, instance:com.traindemo.qa.testcases.PurchasePillowTestCases@145eaa29]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@741669172</td>   <td></td> </tr>
<tr bgcolor="848c81">  <td>20/07/16 14:18:51</td>   <td>42164</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PurchasePillowTestCases.purchasePillowUsingInvalidCreditCard()[pri:0, instance:com.traindemo.qa.testcases.PurchasePillowTestCases@145eaa29]">purchasePillowUsingInvalidCreditCard</td> 
  <td>main@741669172</td>   <td></td> </tr>
<tr bgcolor="7af3c0">  <td>20/07/16 14:19:12</td>   <td>62577</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBasePage.tearDown()[pri:0, instance:com.traindemo.qa.testcases.PurchasePillowTestCases@145eaa29]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@741669172</td>   <td></td> </tr>
<tr bgcolor="7af3c0">  <td>20/07/16 14:19:12</td>   <td>63064</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBasePage.setUp(java.lang.reflect.Method)[pri:0, instance:com.traindemo.qa.testcases.PurchasePillowTestCases@145eaa29]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@741669172</td>   <td></td> </tr>
<tr bgcolor="848c81">  <td>20/07/16 14:19:38</td>   <td>89007</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PurchasePillowTestCases.purchasePillowUsingValidCreditCard()[pri:0, instance:com.traindemo.qa.testcases.PurchasePillowTestCases@145eaa29]">purchasePillowUsingValidCreditCard</td> 
  <td>main@741669172</td>   <td></td> </tr>
<tr bgcolor="7af3c0">  <td>20/07/16 14:20:22</td>   <td>132888</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBasePage.tearDown()[pri:0, instance:com.traindemo.qa.testcases.PurchasePillowTestCases@145eaa29]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@741669172</td>   <td></td> </tr>
</table>
