<h2>Methods that were not run</h2><table>
<tr><td>com.traindemo.qa.testcases.PurchasePillowTestCases.purchasePillowUsingInvalidCreditCard<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Purchase Pillow using invalid Credit card number</i></td></tr>
</table>