<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a097cc">  <td>20/07/16 12:23:17</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TestBasePage.beforeTest()[pri:0, instance:com.traindemo.qa.testcases.PurchasePillowTestCases@1753acfe]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1121454968</td>   <td></td> </tr>
<tr bgcolor="6e8eef">  <td>20/07/16 12:23:48</td>   <td>31112</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PurchasePillowTestCases.purchasePillowUsingValidCreditCard()[pri:0, instance:com.traindemo.qa.testcases.PurchasePillowTestCases@1753acfe]">purchasePillowUsingValidCreditCard</td> 
  <td>main@1121454968</td>   <td></td> </tr>
<tr bgcolor="a097cc">  <td>20/07/16 12:23:17</td>   <td>145</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBasePage.setUp(java.lang.reflect.Method)[pri:0, instance:com.traindemo.qa.testcases.PurchasePillowTestCases@1753acfe]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1121454968</td>   <td></td> </tr>
<tr bgcolor="a097cc">  <td>20/07/16 12:24:33</td>   <td>75721</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBasePage.tearDown()[pri:0, instance:com.traindemo.qa.testcases.PurchasePillowTestCases@1753acfe]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1121454968</td>   <td></td> </tr>
</table>
